body{
    height: 200vh;
}

.container{
    width: 500px;
    height: 400px;
    border: 3px solid rgb(24, 37, 218);
    background-color: rgb(135, 186, 241);
    margin: 10px auto;
    position: relative;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 550px;
    bottom: 560px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: gray;
    position: absolute;
    left: 570px;
    bottom: 540px;
    z-index: 3;
    opacity: 0.5;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 590px;
    bottom: 520px;
    z-index: 2;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: rgb(30, 95, 95);
    position: sticky;
    left: 910px;
    bottom: 900px;
}

.box5{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: absolute;
    left: 800px;
    bottom: 400px;
}

.box6{
    width: 100px;
    height: 100px;
    background-color: rgb(88, 88, 229);
    position: sticky;
    left: 100%;
}